.BIGBUTTON {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
}

.gamefield {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: bisque;
}

.joint {
  position: absolute;
  z-index: 5;
  border:solid 1px transparent;
}

.bone {
  position: absolute;
}